---
title: "Assignment 2: Collections"
layout: "base.html"
bodyClass: "home"
---
<div class="container">
  <h1>treat this experience...as if you were in an art installation...</h1>
  <h1>REALLY look at the image while you are listening to the music :D </h1>
  <ul class="site-list">
  {% for page in collections.all %}
    {% if page.url != "/" %}
      <ul>
        <a href="{{ page.url }}">
          {% if page.data.title %}
            {{ page.data.title }}
          {% else %}
            {{ page.fileSlug }}
          {% endif %}
        </a>
      </ul>
    {% endif %}
  {% endfor %}
</ul>
</div>