body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* only for the homepage */
body.home {
  background-color: #d3d3d3;
  font-size: 10px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* other pages-- content at the top of the page*/
body:not(.home) {
  background-color: white;
  align-items: flex-start; /* align content to top */
  justify-content: flex-start; /* no vertical centering */
  padding: 2rem; /* adds breathing space at top */
}


/* shared styling*/
.container {
  text-align: center;
}

.container h1 {
    font-size: 100 px;
   margin-bottom: 1.5rem;
}

.site-list {
  list-style: none;
  padding: 0;
}

.site-list li {
  margin: 0.5rem 0;
}

.site-list a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.site-list a:hover {
  text-decoration: underline;
}
